<h1>Com Am<img src="https://image.flaticon.com/icons/svg/1071/1071525.svg"  width="30" height="30"/>r</h1>

<p>Visitas que transformam vidas.</p>
<% link_to 'Com Amor', controller: 'posts' %>

<%= link_to 'Novo post', new_post_path, class: 'btn btn-primary' %>

<br>
<br>

<table class="table">
  <tr>
    <th>Titulo:</th>
    <th colspan="4">Texto:</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Post', post_path(post) %></td>
      <td><%= link_to 'Editar', edit_post_path(post) %></td>
      <td><%= link_to 'Deletar', post_path(post), method: :delete, data: { confirm: 'Tem certeza?' } %></td>

    </tr>
  <% end %>
</table>
